---
layout: default
type: photos
title: Photos
---

<div class="photos-wrapper" id="photos">
{% assign photos = site.static_files | where: "image", true %}
{% for photo in photos %}
    <figure id="P{{ photo.guid }}" class="figure-{{ photo.orientation }}">
      <a href="{{ photo.path }}" class="image-link">
        <img
          src="{{ photo.path }}"
          height="{{ photo.height }}"
          style="aspect-ratio: {{ photo.ratio }}"
          alt="{{ photo.alt }}"
          title="{{ photo.alt }}"
          class="{{ photo.orientation }}"
          loading="lazy">
      </a>
      <figcaption>
        <div class="desc photo-metadata">
          <div>{{ photo.createdAt | date: "%Y/%m/%d (%a)" }}</div>
        </div>
        {% capture caption %}{{ photo.caption | strip }}{% endcapture %}
        {% if caption != "-" and caption != "" %}{{ caption | markdownify }}{% endif %}
      </figcaption>
    </figure>
{% endfor %}

</div>
