---
layout: default
title: Blogs
---
<summary><h2 class="as-text">Nginx</h2></summary>
  <ul class="note">
    {% for post in site.posts %}
      {% if post.category == 'Nginx' and post.title == 'Nginx文档【持续更新】' %}
          <li id="date-{{ post.date | date: "%Y-%m-%d" }}{{ post.slug }}">
            <time class="small">{{ post.date | date: "%b %d, %Y" }}</time> <a href="{{ post.url }}" class="small">{{post.title}}</a>
          </li>
      {% endif %}
    {% endfor %}
    {% for post in site.posts %}
      {% if post.category == 'Nginx' and post.title != 'Nginx文档【持续更新】' %}
          <li id="date-{{ post.date | date: "%Y-%m-%d" }}{{ post.slug }}">
            <time class="small">{{ post.date | date: "%b %d, %Y" }}</time> <a href="{{ post.url }}" class="small">{{post.title}}</a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>

<summary><h2 class="as-text">Manual</h2></summary>
  <ul class="note">
    {% for post in site.posts %}
      {% if post.category == 'manual' %}
          <li id="date-{{ post.date | date: "%Y-%m-%d" }}{{ post.slug }}">
            <time class="small">{{ post.date | date: "%b %d, %Y" }}</time> <a href="{{ post.url }}" class="small">{{post.title}}</a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>

<summary><h2 class="as-text">Blogs</h2></summary>
  <ul class="note">
    {% for post in site.posts %}
      {% assign cgrs = post.category %}
      {% if cgrs != 'Nginx文档' and cgrs != 'Nginx' and cgrs != 'manual' and cgrs != 'leetcode' %}
          <li id="date-{{ post.date | date: "%Y-%m-%d" }}{{ post.slug }}">
            <time class="small">{{ post.date | date: "%b %d, %Y" }}</time> <a href="{{ post.url }}" class="small">{{post.title}}</a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
