
/*
  print.css
  Removes the action buttons at the top and 
  the delete link at the bottom for better printing.
*/

ul.actions {
	display: none;
}

#delete-link {
	display: none;
}

/*
     FILE ARCHIVED ON 04:12:30 Jun 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:43:49 Apr 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 111.232
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.07
  cdx.remote: 0.066
  esindex: 0.009
  LoadShardBlock: 79.049 (3)
  PetaboxLoader3.datanode: 79.894 (5)
  PetaboxLoader3.resolve: 230.214 (3)
  load_resource: 270.429 (2)
*/